$TTL 86400
example.com.    IN      SOA     master.example.com. root.master.example.com. (
                                0801201010      ; serial number
                                1H              ; refresh slave
                                5M              ; retry query
                                1W              ; expire
                                1M;             ; negative TTL
                        )
@       IN      NS      master.example.com.
@       IN      MX      10 master.example.com.

example.com.            IN      A       {{ network_subnet}}.254
master.example.com.     IN      A       {{ network_subnet}}.254
mail.example.com.       IN      CNAME   master.example.com.
kerberos.example.com.   IN      CNAME   master.example.com.

$ORIGIN example.com.
station1                IN      A       {{ network_subnet}}.1
station2                IN      A       {{ network_subnet}}.2
station3                IN      A       {{ network_subnet}}.3

server101               IN      A       {{ network_subnet}}.101
server102               IN      A       {{ network_subnet}}.102
server103               IN      A       {{ network_subnet}}.103