options {
        listen-on port 53 { 127.0.0.1; {{ network_subnet}}.1; };
        listen-on-v6 port 53 { ::1; };
        directory       "/var/named";
        dump-file       "/var/named/data/cache_dump.db";
        statistics-file "/var/named/data/named_stats.txt";
        memstatistics-file "/var/named/data/named_mem_stats.txt";

        // Those options should be used carefully because they disable port
        // randomization
        // query-source    port 53;
        // query-source-v6 port 53;

        allow-query     { localhost; {{ network_subnet}}.0/24; };
        allow-query-cache     { localhost; {{ network_subnet}}.0/24; };

        forward only;
        forwarders {
                8.8.8.8;
                1.1.1.1;
        };
};
logging {
        channel default_debug {
                file "data/named.run";
                severity dynamic;
        };
};
zone "." IN {
        type hint;
        file "named.ca";
};

zone "{{ dns_domain_name }}" IN {
        type master;
        file "{{ dns_domain_name}}.zone";
        allow-update{ none; };
};

zone "{{ net_subnet_reverse }}.in-addr.arpa" IN {
       type master;
       file "{{ net_subnet_reverse }}.zone";
       allow-update{ none; };
};


include "/etc/rndc.key";